body{
    background-color: black;
}
h1,h2{
    color: white;
    text-align: center;
}
a{
    color: aquamarine;
    text-align: center;
    
}

p{
    color: white;
    text-align: center;
   
}
.footer{
    float: right;
}
#excursion-link{
    color: aquamarine;
    text-decoration: underline;
}